<h2 id="month">
  <%= link_to "", user_schedule_path(:date => @date.prev_month), :class => "nav prev glyphicon glyphicon-chevron-left"  %>
  <%= @date.strftime("%B %Y") %>   
  <%= link_to "", user_schedule_path(:date => @date.next_month), :class => "nav next glyphicon glyphicon-chevron-right" %>
</h2>