<!-- Slider -->
<div class="slider span8">
    <div class="row">
        <div class="span6 offset1">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="/assets/slider/diploma.jpg">
                        <%= image_tag "slider/diploma.jpg" %>
                        <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li data-thumb="/assets/slider/student_wide.jpg">
                        <%= image_tag "slider/student_wide.jpg" %>
                        <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </li>
                    <li data-thumb="/assets/slider/man_artist.jpg">
                        <%= image_tag "slider/man_artist.jpg" %>
                        <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                    </li>
                    <li data-thumb="/assets/slider/ladder.jpg">
                        <%= image_tag "slider/ladder.jpg" %>
                        <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
