<h1> Home page </h1>
<%= current_user ? current_user.email : "no current_user" %>

<% @users.each do |user| %>
  <h6> <%= user.email %> </h6>
<% end %>


<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>