<div class="container">
  <h1> Home page </h1>
  <%= current_user ? current_user.email : "no current_user" %>

  <h3> All users: </h3>
  <% @users.each do |user| %>
    <h6> <%= user.email %> </h6>
  <% end %>

</div>