/* -------------------------------------------------
 * 
 * Put all colors here
 * Add this file to your css-file via
 * @import "colors";
 * 
 * -------------------------------------------------
*/

$dark_grey: #5d5d5d;
$light_grey: #888;
$grey_almost_white: rgb(219, 219, 219);

$violet_plum: #9d426b;
$light_violet_plum: #E6C4D3;
