/*  ----------------------------------------------
 *
 * MAIN
 *
 ------------------------------------------------- */

/* -------------------------------------------------
 *
 * General
 *
 * Items that REWRITE STANDART template properties 
 *                   or 
 * add NEW STYLES should be placed here
 *
 * -------------------------------------------------
*/

$dark_grey: #5d5d5d;
$light_grey: #888;
$violet_plum: #9d426b;


html, body{
  height: 100%;
} 

#content{
  min-height: 100%;
}

#footer-filler{
  height: 310px;
}

footer{
  margin-top: -320px;
}

.clear {
  clear: both;
}

.left{
  float:left !important;
}

.right{
  float: right !important;
}

.hidden{
  display: none;
}

.container{
  position: relative;
}

.active-element {
    background: $violet_plum;
    color: white;
}

#sign-in.active-element a, #sign-in.active-element i{
  color: #fff;

  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
}

.login-form{
  z-index: 1;
  padding: 0 20px;
  top: 50px;
  position: absolute;
  right: 0px;


  form{
    background: $violet_plum;
    padding: 5px 20px 20px;

    button{
      color: $dark_grey;
      background: white;
    }

    a{
      color: white;
    }
  }

  label{
    color: white;
  }

}

.alert{
  border-radius: 0px;
  font-size: 15px;
}


form button, form input[type="submit"]{
    width: 120px;
    height: 30px;
    margin-top: 15px;
    background: #9d426b;
    border: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.contact-us h1, .contact-us h2{
  padding: 0 20px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  color: $dark_grey;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
}



.flexslider .flex-control-thumbs ol{
  height: 95px;
}

.flexslider .flex-control-thumbs li{
  overflow: hidden;
  height: 95px;
  position: relative;
}

.flexslider .flex-control-thumbs img{
  max-width: none;
  width: auto;
  height: 100%;
  position: absolute;
}

/*=============== FLEXSLIDER WIDE IMAGES FIX =================*/
/*.flexslider .slides img {
  position: relative;
  max-width: none;
  height: 100%;
  width: auto;
}

.flexslider .flex-viewport{
  max-height: 480px;
  overflow: hidden;
}

.flexslider .flex-viewport ul{
  position: relative;
}

.flexslider .slides > li{
  height: 100%;
}
*/
/*============================================================*/

.span6 .flex-caption{
  max-width: 470px;
}

.span8.slider{
  margin-top: 25px;
}

li [class^="glyphicon-"], li [class*=" glyphicon-"]{
  font-size: 20px;
}


