.func_mess {
  margin-left: 0px;

  .write, .inbox,.outbox {
    text-align: left;
    padding-left:  20px;
    &:hover {
        background-color: gray;
       }

     a {

      min-height: 30px;
       display: block;

     }
  }
}
.message-box {
  margin-top: 20px;
}
