@import "colors";

#calendar{
  padding: 20px;
  position: relative;

  .popup{
    z-index: 1;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
    
    display: none;
    border: 3px solid $violet_plum;
    background: white;
    height: 700px;
    /*width: 500px;*/

    .contact-us{
      margin-top: 0;
      padding-bottom: 0;

      textarea{ max-width: 415px; }
    }
  }
  
  h2{
    background: $violet_plum;
    color: white;
    padding: 50px 50px 0;
    text-align: left;
    margin-bottom: 0;

    a{ color: white; }

    a:hover{ color: $light_violet_plum; }
  }

  table.calendar{
    table-layout: fixed;
    width: 100%;
    border: 1px solid $violet_plum;

    th{
      background: $violet_plum;
      font-size: 18px;
      height: 100px;
      color: white;
    }

    td{
      border: 1px solid $violet_plum;
      height: 100px;
      vertical-align: top;
    }

    .day{
      margin: 5px;

      &.today{
        background: $light_violet_plum;
        color: white;

        .day{ font-weight: bold; }
      }

      &.notmonth{
        background: $grey_almost_white;
        opacity: 0.4;
      }

      .date{
        font-size: 16px;
        text-align: left;

        .event{
          font-size: 12px;
          background: $violet_plum;
          border: 1px solid $violet_plum;
          color: white;
          margin: 1px 0;
          padding: 2px 5px;

          .time{
            float: left;
            margin-right: 5px;
          }

          .name{
            white-space: nowrap;
            overflow: hidden;

            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
          }
        }

        .event:hover{
          color: $violet_plum;
          background: white;

          -o-transition: all .3s;
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          -ms-transition: all .3s;
        }
      }
    }

  }
}