// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.accordion-toggle{
  float: left;
}
#material_file{
  margin-top: 8px;
}
.file_submit{
  margin-left: -60px;
  margin-right: -450px;
}