<div class="span2 column">
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to "Home", subject_path(@subject) %></li>
      <br>
      <li><%= link_to "Lectures" %></li>
      <li><%= link_to "Surveys", subject_surveys_path(@subject) %></li>
    </ul>
  </div>