<% @files.each do |file| %>
	<%= link_to file.name, file.google_id %>
<% end %>
<%= form_tag '/files_sharing/upload', { :multipart => true } do %>
    <p>
    <%= file_field_tag 'upload[file]' %>
    </p>
    <p>
    	<%= submit_tag "Upload" %>
    </p>
<% end %>